<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>wink wink</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" href="stylesheets/styleee.css">
        <link rel="apple-touch-icon-precomposed" sizes="57x57" href="images/favicon/apple-touch-icon-57x57.png" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/favicon/apple-touch-icon-114x114.png" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/favicon/apple-touch-icon-72x72.png" />
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/favicon/apple-touch-icon-144x144.png" />
        <link rel="apple-touch-icon-precomposed" sizes="60x60" href="images/favicon/apple-touch-icon-60x60.png" />
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="images/favicon/apple-touch-icon-120x120.png" />
        <link rel="apple-touch-icon-precomposed" sizes="76x76" href="images/favicon/apple-touch-icon-76x76.png" />
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="images/favicon/apple-touch-icon-152x152.png" />
        <link rel="icon" type="image/png" href="images/favicon/favicon-196x196.png" sizes="196x196" />
        <link rel="icon" type="image/png" href="images/favicon/favicon-96x96.png" sizes="96x96" />
        <link rel="icon" type="image/png" href="images/favicon/favicon-32x32.png" sizes="32x32" />
        <link rel="icon" type="image/png" href="images/favicon/favicon-16x16.png" sizes="16x16" />
        <link rel="icon" type="image/png" href="images/favicon/favicon-128.png" sizes="128x128" />
        <meta name="application-name" content="&nbsp;"/>
        <meta name="msapplication-TileColor" content="#FFFFFF" />
        <meta name="msapplication-TileImage" content="mstile-144x144.png" />
        <meta name="msapplication-square70x70logo" content="mstile-70x70.png" />
        <meta name="msapplication-square150x150logo" content="mstile-150x150.png" />
        <meta name="msapplication-wide310x150logo" content="mstile-310x150.png" />
        <meta name="msapplication-square310x310logo" content="mstile-310x310.png" />
    </head>
    <body>   
        <div class="header">
          <div class="container-fluid">
            <a class="logo" href="/" width="275" height="150">
              <img src="images/ughhh.png" alt="logo" width="275" height="150" class="d-inline-block align-text-top">
            </a>
          </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid justify-content-center">
            </div>
            <div class="container-fluid">                      
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown About
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown Curriculum
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Costomology</a></li>
                            <li><a class="dropdown-item" href="#">Barbering</a></li>
                            <li><a class="dropdown-item" href="#">Manicure</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown link
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" style="right: 0;">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
            </div>                      
            </div>
        </nav>
        <figure>
        
        </figure>
        <main>
            <div class="g">
                <div class="program-title">
                    <h1>Cosmetology Operator Course<h1>
                    <div class="program-subtitle">Cosmetologist Operators License</div>
                </div>
                <div class="summary-portion">
                    <img src="images/plzRemove.jpg" alt="cap and gown" height="240px" width="300px" class="photo">
                    divWords The Cosmetology program provides the theory and practical instruction designed to prepare students for employment as a licensed cosmetologist. Students who successfully complete the entire curriculum are qualified to sit for the examination given by the Texas Department of Licensing and Regulation (T.D.L.R.) P.O. Box 12157 Austin, TX 78711. Those who are approved by the State are licensed as cosmetologists and are eligible for placement.
                </div>
                <div class="ribbonn">
                    <button class="button">Hello</button>
                </div>
                <div class="course-info">
                    <div class="caption">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-book-half" viewBox="0 0 16 16">
                            <path d="M8.5 2.687c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783"/>
                        </svg>
                        divtitle Curriculum 
                    </div>
                    <div class="divTable">
                        <div class="divHeadTable">
                                <div class="divCell" style="width: 95%;">Theory and Related practice: Anatomy and Physiology</div>
                                <div class="divCell">700</div>
                        </div>
                        <div class="divRowTable">
                            <div class="divCell">History & Career opportunities</div>
                            <div class="divCell">?</div>
                        </div>
                        <div class="divRowTable">
                            <div class="divCell">General Anatomy & Physiology</div>
                            <div class="divCell">?</div>
                        </div>
                        <div class="divRowTable">
                            <div class="divCell">Skin Structure & Growth</div>
                            <div class="divCell">?</div>
                        </div>
                        <div class="divRowTable">
                            <div class="divCell">Skin Disorders & Diseases</div>
                            <div class="divCell">?</div>
                        </div>
                        <div class="divRowTable">
                            <div class="divCell">Hair & Scalp Properties</div>
                            <div class="divCell">?</div>
                        </div>
                        <div class="divRowTable">
                            <div class="divCell">Hair & Scalp Disorders & Diseases</div>
                            <div class="divCell">?</div>
                        </div>
                        <div class="divRowTable">
                            <div class="divCell">Principles of Hair Design</div>
                            <div class="divCell">?</div>
                        </div>
                        <div class="divRowTable">
                            <div class="divCell">Hair Service Preparation</div>
                            <div class="divCell">?</div>
                        </div>
                        <div class="divRowTable">
                            <div class="divCell">Haircutting</div>
                            <div class="divCell">?</div>
                        </div>
                        <div class="divRowTable">
                            <div class="divCell">Hairstyling</div>
                            <div class="divCell">?</div>
                        </div>
                        <div class="divRowTable">
                            <div class="divCell">Braiding & Braid Extensions</div>
                            <div class="divCell">?</div>
                        </div>
                        <div class="divRowTable">
                            <div class="divCell">Wigs & Hair Additions</div>
                            <div class="divCell">?</div>
                        </div>
                        <div class="divRowTable">
                            <div class="divCell">Chemical Texture Services</div>
                            <div class="divCell">?</div>
                        </div>
                        <div class="divRowTable">
                            <div class="divCell">Hair Coloring</div>
                            <div class="divCell">?</div>
                        </div>
                        <div class="divRowTable">
                            <div class="divCell">Hair Removal</div>
                            <div class="divCell">?</div>
                        </div>
                        <div class="divRowTable">
                            <div class="divCell">Facials</div>
                            <div class="divCell">?</div>
                        </div>
                        <div class="divRowTable">
                            <div class="divCell">Makeup</div>
                            <div class="divCell">?</div>
                        </div>
                        <div class="divRowTable">
                            <div class="divCell">Manicuring</div>
                            <div class="divCell">?</div>
                        </div>
                        <div class="divRowTable">
                            <div class="divCell">Pedicuring</div>
                            <div class="divCell">?</div>
                        </div>
                        <div class="divRowTable">
                            <div class="divCell">Nail Extensions & Resin Systems</div>
                            <div class="divCell">?</div>
                        </div>
                        <div class="divRowTable">
                            <div class="divCell">Liquid & Powder Nail Enhancements</div>
                            <div class="divCell">?</div>
                        </div>
                        <div class="divRowTable">
                            <div class="divCell">Light Cured Gel</div>
                            <div class="divCell">?</div>
                        </div>
                        <div class="divHeadTable">
                            <div class="divCell">Specialty Practice and Related theory</div>
                            <div class="divCell">300</div>
                        </div>
                        <div class="divRowTable">
                            <div class="divCell">placeholder</div>
                            <div class="divCell">?</div>
                        </div>
                        <div class="divRowTable">
                            <div class="divCell">placeholder</div>
                            <div class="divCell">?</div>
                        </div>                            
                        <div class="divRowTable">
                            <div class="divCell">placeholder</div>
                            <div class="divCell">?</div>
                        </div>
                        <div class="divRowTable">
                            <div class="divCell">placeholder</div>
                            <div class="divCell">?</div>
                        </div>
                        <div class="divRowTable">
                            <div class="divCell">placeholder</div>
                            <div class="divCell">?</div>
                        </div>
                        <div class="divFoot">
                            <div class="divCell">Operators License Total Hours</div>
                            <div class="divCell">1,000</div>
                        </div>   
                    </div>
                </div>
            </div>
        </main>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </body>
</html>