
.btn {
    cursor: pointer;
    border: 0px solid rgba(255, 255, 255, 0);
    font-family: Raleway;
    font-size: 28px;
    color: rgb(255, 255, 255);
    padding: 29px 30px;
    transition: 228ms;
    width: 335px;
    box-shadow: rgba(0, 0, 0, 0.44) 10px 10px 16px 5px;
    border-radius: 25px;
    background: rgb(196, 6, 6);
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    --hover-width: 335px;
    --hover-bgc: #ffffff;
    --hover-borderc: #ff0000;
    --hover-borderSize: 0px;
    --hover-color: #c40606;
    flex-direction: row-reverse;
}

    .btn:hover {
        color: rgb(196, 6, 6);
        width: 335px;
        background: rgb(255, 255, 255) none repeat scroll 0% 0% / /*delete auto if you want it clear*/ auto padding-box border-box;
        border-color: rgb(255, 0, 0);
        border-width: 0px;
        border-style: solid;
    }


.colorbox {
    display: flex;
    justify-content: center;
    width: 100%;
}

.colortheme {
    height: 110px;
    width: 800px;
    border: 5px solid #efff64; 
    display: flex;
}

.color1 {
    background-color: #FFFFFF ;
    height: 100px;
    width: 100px;
}

.color2 {
    background-color: #ffecae;
    height: 100px;
    width: 100px;
}

.color3 {
    background-color: #ff7d00;
    height: 100px;
    width: 100px;
}

.color4 {
    background-color: #b91515;
    height: 100px;
    width: 100px;
}

.color5 {
    background-color: #652200;
    height: 100px;
    width: 100px;
}

/* #467e5a   #2f5228*/

.color6 {
    background-color: #2f5228;
    height: 100px;
    width: 100px;
}

.color7 {
    background-color: #000000;
    height: 100px;
    width: 100px;
}

.color8 {
    background-color: #7e4c1d;
    height: 100px;
    width: 100px;
}










/*
    beginning of header
*/
.header {
    flex-direction: column;
    display: flex;
    position: relative;
    height: 20vh; 
    width: 100%;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.header-top {
    width: 100%;
    background-color: #ffecae;
    z-index: 0;
    position: absolute;
    height: 80%;
    top: 0px;
}

.header-bottom {
    background-color: #ff7d00;
    width: 100%;
    z-index: 0;
    height: 20%;
    bottom: 0px;
    box-shadow: 0px 50px 33px -11px rgba(0,0,0,0.75);
    position: absolute;
}

.header-ribbon {
    padding-top: 45px;
    position: absolute;
    z-index: 4;
    height: 275px;
    left: 5%;
    width: fit-content;
    top: 0px;
    background-color: brown;
    --tiplength: 60%;
    --girthh: 7%;
    --notip: 100%;
    clip-path: polygon(var(--girthh) 0, calc(100% - var(--girthh)) 0%, calc(100% - var(--girthh)) var(--tiplength), 50% var(--notip), var(--girthh) var(--tiplength));

/*some random guy color code*/
    --flapH: 6.0rem; /* control the cutout */
    --col-gap: -2.0rem;
    --roleH: 2.0rem;
    background-image: linear-gradient( rgba(0, 0, 0, 0.6) var(--roleH), rgba(0, 0, 0, 0.4) calc(var(--roleH) + 0.5rem), rgba(0, 0, 0, 0) calc(var(--roleH) + 0.5rem + 5rem) );
}

img.logo-style {
    object-fit: scale-down;
    width: 100%;
}

.header-ribbon {
    animation: slide-in-top 1.5s cubic-bezier(0.075, 0.820, 0.165, 1.000);
    animationnn: shrivel 1.0s cubic-bezier(0.075, 0.820, 0.165, 1.000);
    animation-fill-mode: forwards;
}

@keyframes slide-in-top {
    0% {
        transform: translateY(-1000px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


@keyframes {
    0% {
        padding-top: 45px;
        --notip: 100%;
        --tiplength: 60%;
        clip-path: polygon(var(--girthh) 0, calc(100% - var(--girthh)) 0%, calc(100% - var(--girthh)) var(--tiplength), 50% var(--notip), var(--girthh) var(--tiplength));
    }

    50% {

    }


}






keyframes shrivel {
    0% {
        padding-top: 45px;
        --notip: 100%;
        --tiplength: 60%;
        clip-path: polygon(var(--girthh) 0, calc(100% - var(--girthh)) 0%, calc(100% - var(--girthh)) var(--tiplength), 50% var(--notip), var(--girthh) var(--tiplength));
    }

    100% {
        padding-top: 28px;
        --notip: 70%;
        --tiplength: 50%;
        clip-path: polygon(var(--girthh) 0, calc(100% - var(--girthh)) 0%, calc(100% - var(--girthh)) var(--tiplength), 50% var(--notip), var(--girthh) var(--tiplength));
    }
}

@keyframes brick {
    0% {
        padding-top: 45px;
        --tiplength:60%;
        --notip: 100%;
        clip-path: polygon(var(--girthh) 0, calc(100% - var(--girthh)) 0%, calc(100% - var(--girthh)) var(--tiplength), 50% var(--notip), var(--girthh) var(--tiplength));
    }

    40% {
        --tiplength:100%;
        clip-path: polygon(var(--girthh) 0, calc(100% - var(--girthh)) 0%, calc(100% - var(--girthh)) var(--tiplength), 50% var(--notip), var(--girthh) var(--tiplength));
    }
    41% {
        padding-top: 45px;
    }


    50% {
        padding-top: 167px;
    }

    60% {
        --tiplength: 100%;
        padding-top: 167px;
        --notip: 100%; 
        clip-path: polygon(var(--girthh) 0, calc(100% - var(--girthh)) 0%, calc(100% - var(--girthh)) var(--tiplength), 50% var(--notip), var(--girthh) var(--tiplength));
    }

    90% {
        --tiplength: 50%;
        --notip: 50%;
        padding-top: 28px;
        clip-path: polygon(var(--girthh) 0, calc(100% - var(--girthh)) 0%, calc(100% - var(--girthh)) var(--tiplength), 50% var(--notip), var(--girthh) var(--tiplength));
    }

    100% {
        --tiplength: 50%;
        --notip: 63%;
        padding-top: 28px;
        clip-path: polygon(var(--girthh) 0, calc(100% - var(--girthh)) 0%, calc(100% - var(--girthh)) var(--tiplength), 50% var(--notip), var(--girthh) var(--tiplength));
    }

}

@keyframes small {
    0% {
        --tiplength:60%;
        --notip:100%;
        padding-top:45px;
        clip-path: polygon(var(--girthh) 0, calc(100% - var(--girthh)) 0%, calc(100% - var(--girthh)) var(--tiplength), 50% var(--notip), var(--girthh) var(--tiplength));
    }

    50% {
        --notip: 75%;
        --tiplength: 60%;
        padding-top: 45px;
        clip-path: polygon(var(--girthh) 0, calc(100% - var(--girthh)) 0%, calc(100% - var(--girthh)) var(--tiplength), 50% var(--notip), var(--girthh) var(--tiplength));
    }

    80% {
        --tiplength: 50%;
        --notip: 50%;
        padding-top: 28px;
        clip-path: polygon(var(--girthh) 0, calc(100% - var(--girthh)) 0%, calc(100% - var(--girthh)) var(--tiplength), 50% var(--notip), var(--girthh) var(--tiplength));
    }

    100% {
        padding-top: 35px;
        --tiplength:53%;
        --notip:60%;
        clip-path: polygon(var(--girthh) 0, calc(100% - var(--girthh)) 0%, calc(100% - var(--girthh)) var(--tiplength), 50% var(--notip), var(--girthh) var(--tiplength));
    }
}


/*

    end of ribbion

*/
/*
    
    start of dropdown

*/

.dropdown-group {
    justify-content: flex-end;
    display: flex;
    height: 20%;
    z-index: 4;
    width: 100%;
    --popp: none;
}

.drop-down {
    position: relative;
    display: flex;
    width: 90px;
    border-style: solid;
    border-width: 0px 0px 0px 3px;
    border-left-color: #ff6c00;
    justify-content: center;
    background-color: #FF7D00;
    color: white;
    font-size: .9em;
    cursor: pointer;
}

a.drop-button {
    width: 100%;
    height: 100%;
    text-align: center;

}

.drop-down:hover, .drop-down:focus {
    background-color: #ffffff;
    color: #FF7D00;
    --popp: block;
}

.dropdown-content {
    display: var(--popp);
    position: absolute;
    min-width: 160px;
 /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    z-index: 2;
    top: 100%;
    left: 0px;

    overflow: hidden;
    border-radius: 0px 15px 15px 15px;
    border: 5px solid;
    border-color: #ffffff;

    animation: shower 0.6s cubic-bezier(0.075, 0.820, 0.165, 1.000);
    animation-fill-mode: forwards;
}


@keyframes shower {
    0% {
        height: 0px;
    }

    100% {
        height: 144px;
    }
}


..dropdown-content {
    animation: erectile-dysfunction 0.6s cubic-bezier(0.075, 0.820, 0.165, 1.000);
    animation-fill-mode: forwards;
}

@keyframes erectile-dysfunction {
    0% {
        height: 144px;
        display:block
    }

    25% {
        opacity: 100%;
    }

    50% {
        opacity: 0%;
    }

    100% {
        opacity: 0%;
        height: 0px;
        display: none;
    }
}





    .dropdown-content a {
        display: block;
        padding: 12px 16px;
        text-decoration: none;
        background-color: #ffffff;
        color: #FF7D00;

    }

        .dropdown-content a:hover {
            color: #ffffff;
            background-color: #FF7D00;
        }

.right {
    right: 0px;
    left: unset;
    border-radius: 15px 0px 15px 15px; 
}

.showX {
    display: block;
    --jvjcol: #FF7D00;
    --jvjbccol: #ffffff;
}

.showY {
    color: #FF7D00;
    background-color: #ffffff;
}

/*    fix laterrrrrr

.show:not(:hover) .dropdown-content {
    display: none;
} 

*/


/*
    end of header 
*/
/*
       FRONT PAGE

   start of video loader
*/
.loader-container {
    height: 75vh;
    width: 100%;
    position: relative;
    --magic: 0%;
}

.video-box {
    z-index: 0;
    position: absolute;
    top: 0px;
    width: 100%;
    height: inherit;
}

video.style {
    display: inline;
    object-fit: cover;
    width: inherit;
    height: 100%;
    visibility: visible;
    opacity: 1;
    position: absolute;
}

.captions {
    position: absolute;
    z-index: 0;
    bottom: 0px;
    height: inherit;
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center

}

.overlay {
    text-align: center;
    height: fit-content;
}

.button-box {
    display: flex;
    justify-content: center;
}

/*      testing with some fonts
.top-words {

}

.bottom-words {

}
*/

/*
    end of video loader
*/
/*
    start of register feed
*/


#kms {
    display: ;
}

.cool {
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
}

.video-cover {
    width: 100%;
    height: 100%;
    z-index: 3;
    position: absolute;
    background-color: firebrick;
    animation: grower 1.5s cubic-bezier(0.075, 0.820, 0.165, 1.000);
    animation-fill-mode: forwards;
    animation-direction: reverse;
}

@keyframes grower {
    0%    {
        height: 0%;
    }

    40%   {
        height: 100%;
    }

    60%   {
        height: 100%;
    }

    100%  {
        height: 0%;
    }
}



.feed {
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
    background-color: antiquewhite;
    opacity: var(--magic);
    animation: appear 1.5s cubic-bezier(0.075, 0.820, 0.165, 1.000);
    animation-fill-mode: forwards;
    display: flex;
    justify-content: center;
    align-items: center;
}

.giggle {
    clip-path: path("M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z");
    height: 23px;
    width: 26px;
    transform: scale(9);
}

@keyframes appear {
    0% {
        --magic: 0%;
    }

    40% {
        --magic: 0%;
    }

    41% {
        --magic: 100%;
    }

    100% {
        --magic: 100%;
    }
}




/*
    start of something
*/
.end-break {
    width: 100%;
    background-color: wheat;
    height: 5vh;
    position: relative;
}

.idunno {
    background-color: #ff7d00;
    width: 100%;
    z-index: 0;
    height: 40%;
    position: absolute;
    top: 0px;
}

/*
     COSTOMOLGY PAGE

    Title beginning
*/

.program-title {
    margin: auto;
    width: 80%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.program-subtitle {
    font-size: 20px;
    margin-top: -10px;
    border-color: #b91515;
    border-left-style: solid;
    padding-left: 5px;
}
/*
    title end
*/
/*
    beginning of summary
*/
.summary-portion {
    margin-left: auto;
    width: 90%;
    padding-top: 20px;
    padding-bottom: 35px;
    height: 100%;
}

divWords {
    font-size: 15px;
    width: 90%;
    height: 100%;
    padding-top: 50px;
    display: block;
}

.photo {
    float: right;
    margin-top: -50px;
    height: 280px;
    width: 250px;
    margin-left: 80px;
    margin-right: 50px;
    padding-top: 35px;
    margin-bottom: 30px;
}

/*
    end summary
*/
/*
    beginning of ribbion
*/

.ribbonn {
    height: 50px;
    background: #FF8D21;
    width: 100%;
    clear: both;
}

button.button {
    height: 100%;
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
}

/*
    end of ribbon
*/
/*
    beginning table title
*/
.course-info {
    margin: auto;
    width: 80%;
    padding-top: 20px;
    padding-bottom: 20px;
}

divtitle {
    font-size: 32px;
    padding-left: 5px;
}
/*
    end of table title
*/
/*
    beginning of table design
*/
.divTable {
    border: 2px solid #ff7d00;
    background-color: #ffffff;
    width: 100%;
    display: table;
}

.divHeadTable {
    background-color: rgb(255 125 0 / 0.32);
    display: table-header-group;
    font-weight: 600;
 /* font-sizegg: 20px; */
}

.divRowTable {
    display: table-row;
    
}

/*

.divRowTable:nth-child(even) {
    background-color: #fff1f1;
}

*/

.divRowTable .divCell:nth-child(even) {
    background-color: #fff1f1;
}




.divRowTable .divCell {
    padding-left: 50px;
    padding-bottom: 5px;
}

.divCell {
    display: table-cell;
    padding-left: 30px;
    padding-top: 15px;
    border: solid .5px rgb(255 125 0 / 0.25)
}

.divFoot {
    background-color: #ff7d00;
    display: table-footer-group;
    color: #ffffff;
}

/*
    end of table design
*/






