@import url('https://fonts.googleapis.com/css2?Raleway&display=swap');


a {
    color: #00B7FF;
}


header {
    background-color: #F6F8FF;
    background-image: url("https://www.transparenttextures.com/patterns/basketball.png");
    font-family: "Times New Roman"
}

.frontt {
    back
}


#header {

}

.bg-light {
    background-color: #9e0500;
    background-image: url("https://www.transparenttextures.com/patterns/basketball.png");
}

.text-center {
    padding-bottom:20px;
}

.navbar-light {
    background-color: #9e0500;
    background-image: url("https://www.transparenttextures.com/patterns/basketball.png");
    font-weight: bold;
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.navbar-dark {
    background-color: #F6F8FF 
    
}

.navbar .dropdown-menu {
    

    background-color: #9e0500;
    background-image: url("https://www.transparenttextures.com/patterns/basketball.png");
}

li:hover ul.dropdown-menu {
    display: block;
}

--bs-dropdown-link-color {
    color: pink;
}

body {
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/basketball.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

bodyyy {
    background-image: url("../imagesgg/smexy.jpg");
        /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    background-size: cover background-repeat: repeat;
    background-position: center;
    height: 100vh;
}

section {
    padding: 200px;
    margin: 200px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
}

.btn {
    cursor: pointer;
    border: 0px solid rgba(255, 255, 255, 0);
    font-family: Raleway;
    font-size: 28px;
    color: rgb(255, 255, 255);
    padding: 29px 30px;
    transition: 228ms;
    width: 335px;
    box-shadow: rgba(0, 0, 0, 0.44) 10px 10px 16px 5px;
    border-radius: 25px;
    background: rgb(196, 6, 6);
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    --hover-width: 335px;
    --hover-bgc: #ffffff;
    --hover-borderc: #ff0000;
    --hover-borderSize: 0px;
    --hover-color: #c40606;
    flex-direction: row-reverse;
}

    .btn:hover {
        color: rgb(196, 6, 6);
        width: 335px;
        background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
        border-color: rgb(255, 0, 0);
        border-width: 0px;
        border-style: solid;
    }

.card {
    backdrop-filter: blur(3px) saturate(100%);
    background-color: rgba(0,0,0, 0.05);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.18);
}
                    
.loader {
    height: 700px;
    width: 100%;
}
